{% extends "website/base.html" %}

{% block content %}
<div class="content">
    <h1>CONTACT US</h1>
    <div class="contacttext">
        <h2>Aazhiya(General Contact Manager)</h2>
        <h2>Arihant diamond Products Private Limited</h2>
        <h2>Arihant diamond Products India Contact Information,Email Address,Main Office Location Including
headquaters address,office phone number,customer support helpline number and email id is available here 
with company bio data,network presence,as well as service locations </h2>
        <h2>Chennai,India - 6000051</h2>
        <h2>contact number - 8362891743</h2>
        <h2>Email address - diamondcompanyrj@gmail.com</h2>
    </div>
</div>
{% endblock %}