{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c1.jpg" alt="product image">
            </div>
            <div class="itemname">4GB DDRA4 laptop memory</div>
            <div class="itemprice">Price: Rs.2000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/c2.jpg"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop HDD</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/black-adsl-modem-with-3-antennae.jpg"  alt="product image">
            </div>
            <div class="itemname">Boardband Modem</div>
            <div class="itemprice">Price: Rs.1,700.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/ssd.jfif"  alt="product image">
            </div>
            <div class="itemname">1TB Laptop ssd</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/tube.jpg"  alt="product image">
            </div>
            <div class="itemname">silicon tubes</div>
            <div class="itemprice">Price: Rs.790.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/sheet.jpg"  alt="product image">
            </div>
            <div class="itemname">silicon sheet</div>
            <div class="itemprice">Price: Rs.500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/watch.jfif"  alt="product image">
            </div><div class="itemname">watch</div>
            <div class="itemprice">Price: Rs.500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/battry.jfif"  alt="product image">
            </div><div class="itemname">silicon battry</div>
            <div class="itemprice">Price: Rs.5000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/switch.jfif"  alt="product image">
            </div><div class="itemname">switch</div>
            <div class="itemprice">Price: Rs.300.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/spray.png"  alt="product image">
            </div><div class="itemname">silicon sparay</div>
            <div class="itemprice">Price: Rs.950.00 </div>
        </div>
         <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/microchip.jfif"  alt="product image">
            </div><div class="itemname">micro chip</div>
            <div class="itemprice">Price: Rs.500.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/optical.jfif"  alt="product image">
            </div><div class="itemname">optial lence</div>
            <div class="itemprice">Price: Rs.1500.00 </div>
        </div>
    </div>
    </div>
{% endblock  %}