{% extends "website/base.html" %}

{% block content %}
 <div class="productcontent">    
    <h1>our peoples</h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/forbe.jfif" alt="product image">
            </div>
            <div class="itemname">FORBE</div>
            <div>ceo</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/sachin.jfif"  alt="product image">
            </div>
            <div class="itemname">sachin</div>
            <div>sales exclutive</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/viswa.jfif"  alt="product image">
            </div>
            <div class="itemname">vishwanathan anand</div>
            <div>manager</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/dhoni.jfif"  alt="product image">
            </div>
            <div class="itemname">dhoni</div>
            <div>assitant manager</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/mukeshambani.jfif"  alt="product image">
            </div>
            <div class="itemname">mukeshamboney</div>
            <div>md</div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/img/kalanidhi.jfif"  alt="product image">
            </div>
            <div class="itemname">kalanidhi</div>
            <div>production department</div>
        </div>
    </div>
    </div>
{% endblock  %}
